<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Activation Email</title>
</head>
<body>
    <div>
        <p>Hello, <%= user.name %></p>
        <p>Welcome. This is your activation code :</p>
        <p><%= activationCode %></p>
    </div>
</body>
</html>